body{
    background-color: rgb(227, 227, 227) !important;
}

.h-100vh{
    min-height: 100vh !important;
}

.cursor-pointer{
    cursor: pointer;
}

.bg-success-light{
    background-color: rgb(244, 255, 245);
}

.bg-danger-light{
    background-color: rgb(255, 239, 239);
}